{% include "vk/vk_init.html" %}
<script src="{{url_for('static', filename='js/vk/auth_login.js')}}"></script>
<div class="s-buttons" id="vk_login">
    <p
    class="button button_wide button_primary" 
    id="vk_login_button" 
    style="margin-bottom: 20px; padding: 10px"
    onclick="getAuthInfo()">
    <img src="{{url_for('static', filename='img/logo/vk_logo.png')}}" 
    width="24" height="22" 
    alt="VK" 
    style="vertical-align: text-bottom; margin-right: 10px">
    <b>Регистрация через ВКонтакте</b>
    </p>
</div>