.ProtocolToolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -1em;
  &__status {
    opacity: 70%;
    &-failed {
      color: red;
    }
    &-saved {
      color: darkgreen;
    }
    &-saving {

    }
    &__time {
      margin: 0 .2em;
      color: black;
    }
  }
  &__buttons {
    .btn {
      padding: 0 .2em;
    }
    &__swap {

    }
  }
}