div {
    display: block;
}

body {
    height: 100%;
    background: #f4f4f4;
    font-size: 14px;
    font-weight: normal;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
}

.layout {
    height: 100%;
    width: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

.layout__page {
    max-width: 780px;
    margin: 0 auto;
}

.layout__page_middle {
    max-width: 700px;
    margin-top: 50px;
}

.layout__page_thin {
    margin-top: 60px;
    max-width: 460px;
}

@media only screen and (max-width: 480px){
    .layout__page_thin {
        margin-top: 0;
    }
}
@media only screen and (max-width: 750px){
    .layout__page_middle{
        margin-top: 0;
    }
}

.shadow-box {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}
@media only screen and (max-width: 1024px){
    .shadow-box {
        padding: 20px;
        box-sizing: border-box;
    }
}

.shadow-box__title {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 22px;
    line-height: 26px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 700;
}

.form_register, .form_login {
    padding-top: 50px;
    box-sizing: border-box;
}

form{
    margin-top: 0em;
    display: block;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

.form__fields {
    border: 0;
    padding: 0;
}

.form__field+.form__field {
    margin-top: 31px;
}

.form__field-label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 16px;
    color: #333;
    font-size: 14px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 12px;
    display: inline-block;
    width: 100%;
    vertical-align: baseline;
}

.form__field-input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    color: #333;
}
textarea.form__field-input {
    height: 160px;
}

.s-with-error .form__field-input {
    border-color: #ff6e6e;
}

.s-error {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #DE5959;
    font-size: 12px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 500;
    line-height: 18px;
    margin-top: 7px;
}

.form__buttons {
    margin-top: 28px;
}

.button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 3px;
    border: 0;
    box-shadow: none;
    height: 40px;
    line-height: 15px;
    color: #333;
    font-size: 15px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button_wide {
    width: 100%;
    padding: 0;
    height: 48px;
}

.button_primary{
    color: #eee;
    background-color: cornflowerblue;
}

.button_success{
    color: #eee;
    background-color: #00a550;
}

.login_manager>.btn{
    color: inherit;
    margin: 0 3px;
}

.shadow-box_additionals {
    margin-top: 16px;
    padding: 15px 0;
    text-align: center;
}

.form-additional-message {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 18px;
    color: #333;
    font-size: 14px;
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
    font-weight: 500;
}

.form-additional-message__link {
    color: #558cb7;
}

.horizontal-spacer{
    height: 10px;
    width: 100%;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: -internal-light-dark-color(white, black);
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
button, input {
    overflow: visible;
}
