.layout {
  height: 100%;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

.layout {
  max-width: 780px;
  margin: 0 auto;
}

.layout-middle {
  max-width: 700px;
  margin-top: 50px;
}

.layout-thin {
  margin-top: 60px;
  max-width: 460px;
}

@media only screen and (max-width: 480px) {
  .layout-thin {
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  .layout-middle {
    margin-top: 0;
  }
}
