.centered_block {
  text-align: center;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}


.block_link {
  cursor: pointer;
  transition: 0.2s ease-in;
  border-radius: 20px;
}

.block_link:hover {
  background: #f8f9fa
}

.item_title {
  margin-top: 10px;
}
