{% extends 'base.html' %}

{% block content %}
  <div class="title_container">
    <h1 class="page_title">
      Три кота <span class="text-muted">(авторы)</span>:
    </h1>
  </div>

  <div class="box_container credits_container">

    {% set authors = 
      [
      {
        "name": "Даниил Сотников",
        "desc": "Pop Cat (кот широко открывает рот и издаёт звук «буп»)<br>В конце ноября в соцсетях набрали популярность ролики с белым котом, который широко открывает рот, издавая звук «Буп». Теперь животное «подпевает» хитам из 90-х, оказывается в сценах из голливудских фильмов и попадает в разнообразные мемы.",
        "href": url_for('static', filename="img/credits/daniil.jpg")
      },
      {
        "name": "Дарья Калашникова",
        "desc": "Pop Cat (кот широко открывает рот и издаёт звук «буп»)<br>В конце ноября в соцсетях набрали популярность ролики с белым котом, который широко открывает рот, издавая звук «Буп». Теперь животное «подпевает» хитам из 90-х, оказывается в сценах из голливудских фильмов и попадает в разнообразные мемы.",
        "href": url_for('static', filename="img/credits/darya.jpg")
      },
      {
        "name": "Егор Бедак",
        "desc": "Pop Cat (кот широко открывает рот и издаёт звук «буп»)<br>В конце ноября в соцсетях набрали популярность ролики с белым котом, который широко открывает рот, издавая звук «Буп». Теперь животное «подпевает» хитам из 90-х, оказывается в сценах из голливудских фильмов и попадает в разнообразные мемы.",
        "href": url_for('static', filename="img/credits/egor.jpg")
      },
      ] %}
    {% for auth in authors %}

    <div class="box credits_box">
      <img src="{{auth.href}}" width="200" height="200" class="mb-2">
      <h3>{{auth.name}}</h3>
      <div>
        {{auth.desc | safe}}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}