{% extends 'base.html' %}

{% block content %}
  <div class="title_container">
    <h1 class="page_title">
      Три кота <span class="text-muted">(авторы)</span>:
    </h1>
  </div>

  <div class="box_container credits_container">

    {% set authors = 
      [
      {
        "name": "Даниил Сотников",
        "desc": "Идейный вдохновитель, главный разработчик, любит котов.",
        "href": url_for('static', filename="img/credits/daniil.jpg"),
        "tm": "i3Cheese"
      },
      {
        "name": "Дарья Калашникова",
        "desc": "Менеджер, специалист по интерграции, моральная поддержка.",
        "href": url_for('static', filename="img/credits/darya.jpg"),
        "tm": "ADari_Ka"
      },
      {
        "name": "Егор Бедак",
        "desc": "Технический специалист, золотые руки команды.",
        "href": url_for('static', filename="img/credits/egor.jpg"),
        "tm": "egor_koder"
      },
      ] %}
    {% for auth in authors %}

    <div class="box credits_box">
      <img src="{{auth.href}}" width="200" height="200" class="mb-2">
      <h3>{{auth.name}}</h3>
      <div>
        {{auth.desc | safe}}
      </div>
      <div>
        <a href="https://t.me/{{ auth.tm }}" target="_blank">@{{ auth.tm }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}