{% extends 'base.html' %}
{% from 'models_macroses.html' import formated_datetime %}
{% block title %}
  Console — {{game.title}}
{% endblock title %}

{% block content %}
<div class="hidden" id="game_id">{{game.id}}</div>

<div class="box d-flex flex-wrap justify-content-between">
  <div class="mdr-2">
    <a class="btn button_primary" href="/prepare_to_game/{{game.id}}">
      <– Участники
    </a>
  </div>
  <div class="mdlr-2 h4">
    {{game.title}}
  </div>
  <div class="mdl-2 h6">
    {{formated_datetime(game.start)}}
  </div>
</div>

<div class="box_container">
  <div class="box w-100">
    {% if game.protocol['teams'] %}
      <div class="d-flex flex-wrap">
        {% for team in (game.team1, game.team2) %}
        {% set t_d = game.protocol['teams'][loop.index0] %}
        <div class="border-dark border rounded flex-grow-1 m-2 p-2">
          <h4>
            {{team.name}}
          </h4>
          <label class="form__field-label">Состав команды</label>
          <ul class="shadow_list">
            {% for player in t_d['players'] %}
              <li>
                {{player['surname'] + ' ' + player['name']}}
                {% if player['id'] == t_d['captain']['id'] %}
                  — <b>Капитан</b>
                {% elif player['id'] == t_d['deputy']['id'] %}
                  — <b>Заместитель</b>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
      <div class="w-100 m-2 captain_winner">
        Победил капитан команды
        <select class="ml-2 captain_winner_name" name="captain_winner">  
          <option {{'selected' if game.captain_winner is none else ''}} value="0"></option>
          <option {{'selected' if game.captain_winner == game.team1 else ''}}
                  value="{{game.team1.id}}">
            {{game.team1.name}}
          </option>
          <option {{'selected' if game.captain_winner == game.team2 else ''}}
                  value="{{game.team2.id}}">
            {{game.team2.name}}
          </option>
        </select>
      </div>

      {% macro select_players(players, i, player_id=0) %}
        <select class="custom-select" name="team{{i}}_players">
          {% for player in players %}
              <option value="{{player['id']}}" {{'selected' if player['id'] == player_id else ''}}>
                {{player['fullname']}}
              </option>
          {% endfor %}
        </select>
      {% endmacro %}
      {% macro input_points(i, val=0) %}
        <input type="number"
               name="team{{i}}_points"
               value="{{val}}"
               class="points_input"
               min="0"
               max="12"
               >
      {% endmacro %}
      {% set round_types = [(1, '→'), (2, '←'), (3, '⇄'), (4, '⇆')] %}
      <template id="protocol_row_template">
        <tr class="round_form">
          <td class="row_number symbols">0</td>
          <td class="player">
            {{select_players(game.protocol['teams'][0]['players'], 1)}}
          </td>
          <td class="points symbols">
            {{input_points(1)}}
          </td>
          <td class="symbols">
            <input type="number" name="problem" value="0">
          </td>
          <td class="type symbols">
            <select name="type">
              {% for val, type in round_types %}
                <option value="{{val}}">{{type}}</option>
              {% endfor %}
            </select>
          </td>
          <td class="points symbols">
            {{input_points(2)}}
          </td>
          <td class="player">
            {{select_players(game.protocol['teams'][1]['players'], 2)}}
          </td>
          <td class="points judge_points symbols">
            12
          </td>
          <td><textarea name="additional"></textarea></td>
        </tr>
      </template>
      <div class="protocol_in">
        <table class="protocol-table m-2 rounded" id="protocol">
          <tr class="table_header">
            <th>№</th>
            <th>Команда</th>
            <th>Баллы</th>
            <th>Задача</th>
            <th>Вызов</th>
            <th>Баллы</th>
            <th>Команда</th>
            <th>Жюри</th>
            <th>Дополнительная информация</th>
          </tr>
          {% if 'rounds' in game.protocol %}
            {% set rounds = game.protocol['rounds'] %}
          {% else %}
            {% set rounds = [game.default_round(),] %}
          {% endif %}
          {% for round in rounds %}
            <tr class="round_form">
              <td class="row_number symbols">{{loop.index}}</td>
              <td class="player">
                {{select_players(game.protocol['teams'][0]['players'], 1,
                                round['teams'][0]['player']['id'])}}
              </td>
              <td class="points symbols">
                {{input_points(1, round['teams'][0]['points'])}}
              </td>
              <td class="symbols">
                <input type="number" name="problem" value="{{round['problem']}}">
              </td>
              <td class="type symbols">
                <select name="type">
                  {% for val, type in round_types %}
                    {% if val == round['type'] %}
                      <option value="{{val}}" selected>{{type}}</option>
                    {% else %}
                      <option value="{{val}}">{{type}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </td>
              <td class="points symbols">
                {{input_points(2, round['teams'][1]['points'])}}
              </td>
              <td class="player">
                {{select_players(game.protocol['teams'][1]['players'], 2,
                                  round['teams'][1]['player']['id'])}}
              </td>
              <td class="points judge_points symbols">
                {{12 - round['teams'][0]['points'] - round['teams'][1]['points']}}
              </td>
              <td><textarea name="additional">{{round['additional']}}</textarea></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="d-flex flex-wrap justify-content-between">
        <div class="buttons-menu">
          <button class="btn button_primary add_round">
            Добавить строку
          </button>
        </div>
        <div class="buttons-menu">
          <button class="btn button_success save">
            Сохранить
          </button>
          <button class="btn button_warning save_and_quit">
            Сохранить и выйти
          </button>
        </div>
      </div>
  {% else %}
    <div class="box">
      <h4 style="color: red;">Для начала заполните участников</h4>
    </div>
  {% endif %}
  </div>
</div>

<script src="{{url_for('static', filename='js/game_console.js')}}"></script>
{% endblock content %}