{% extends 'base.html' %}

{% block title %}
  Console - {{league.title}}
{% endblock title %}

{% block main %}
  <div class="hidden" id="league_id">{{league.id}}</div>
  <main class="container-xl" role="main">
    <div class="title_container">
      <h3 class="page_title">
        {{league.title}}
      </h3>
    </div>
    <div class="box_container box_container-covid">
      <div class="box box-tiny">
        <label class="box-label">
          Команды
        </label>
        {% for team in league.teams if team.status == 2 %}
          <div class="box_item team" id="team-{{team.id}}">
            <label class="box_item-title team-title nested-toggler" for="team_info-{{team.id}}">
              {{team.name}}
            </label>
            <div class="info_bar team-info hidden" id="team_info-{{team.id}}">
              <i class="team-motto like_list">{{team.motto}}</i>
              <label class="label-bold">
                Заявку отправил:
              </label>
              <a class="team-sender link link-shadow like_list" href="/profile/{{team.trainer.id}}">
                {{team.trainer}}
              </a>
              <label class="label-bold">
                Почта:
              </label>
              <a class="team-mail link link-mail like_list" href="mailto:{{team.trainer.email}}">
                {{team.trainer.email}}
              </a>
              <label class="label-bold">
                Участники:
              </label>
              <ul class="team-players shadow_list">
                {% for player in team.players %}
                  <li>
                    <a class="link link-shadow team-player" href="/profile/{{player.id}}">
                      {{player}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="box box-middle">
        <div id="games">
          <label class="box-label">
            Игры
          </label>

          <template id="game_form_template">
            <form class="box_item game_form"
                  id="game_form-"
                  accept-charset="utf-8"
                  autocomplete="off">
              <label class="label-bold">Место проведения:</label>
              <input class="input-wide game-place editor-text"
                    type="text"
                    name="place"
              />
              <label class="label-bold">Время начала:</label>
              <input class="input-wide game-start editor-time datepicker-here"
                     type="text"
                     name="start"
                     data-timepicker="true"
                     data-position="right top"
              />
              <label class="label-bold">Команды:</label>
              <fieldset class="input-wide" name="teams">
                <select class="selector game-team1 team_selector" name="team1">
                  {% include 'team_options.html' %}
                </select>
                -
                <select class="selector game-team2 team_selector" name="team2">
                  {% include 'team_options.html' %}
                </select>
              </fieldset>
              <label class="label-bold">Судья:</label>
              <input class="input-wide game-judge editor-email" 
                     name="judge_email"
                     type="email" 
                     required/>

              <div class="buttons-menu">
                <button class="button button_success" type="submit" name="submit">
                  Сохранить
                </button>
                <button class="button button_danger" type="reset" name="reset">
                  Отменить
                </button>
              </div>
            </form>
          </template>
          <template id="game_template">
            <div class="box_item game" id="game-">
              <span class="status game-status">
                  
              </span>
              <label class="box_item-title game-title nested-toggler" for="game_info-">

              </label>
              <div class="link_menu">
                <a class="link link-small" href='/game_console/'>
                  управлять
                </a>
                |
                <a class="link link-small" href='/game/'>
                  перейти на страницу
                </a>
              </div>
              <div class="info_bar game-info" id="game_info-">
                <label class="label-bold">
                  Судья:
                </label>
                <a class="game-judge link link-shadow info_value like_list"
                    href="/profile/" 
                    title="">

                </a>
                <label class="label-bold">
                  Дата начала
                </label>
                <p class="game-start info_value">

                </p>
                <label class="label-bold">
                  Место проведения
                </label>
                <p class="game-place info_value">

                </p>
                <div class="buttons-menu">
                  <button class="button button_warning game-edit">
                    Редактировать
                  </button>
                  <button class="button button_danger game-delete">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          </template>

          {% for game in league.games | selectattr("status")
                                      | sort(attribute="status")
                                      | sort(reverse=true, attribute="updated_at") %}
            {% if game.status == 2 %}
            <div class="box_item game border-success" id="game-{{game.id}}">
              <span class="status game-status">
                Игра успешно завершилась
              </span>
            {% else %}
            <div class="box_item game border-warning" id="game-{{game.id}}">
              <span class="status game-status">
                Игра планируется
              </span>
            {% endif %}
              <label class="box_item-title game-title nested-toggler" for="game_info-{{game.id}}">
                {{game.team1.name}} — {{game.team2.name}}
              </label>
              <div class="link_menu">
                <a class="link link-small game-manage" href='/game_console/{{game.id}}'>
                  управлять
                </a>
                |
                <a class="link link-small game-goto" href='/game/{{game.id}}'>
                  перейти на страницу
                </a>
              </div>
              <div class="info_bar game-info" id="game_info-{{game.id}}">
                <label class="label-bold">
                  Судья:
                </label>
                <a class="game-judge link link-shadow info_value like_list"
                    href="/profile/" 
                    title="{{game.judge.email}}">
                  {{game.judge.fullname}}
                </a>
                <label class="label-bold">
                  Дата начала:
                </label>
                <p class="game-start info_value like_list">
                  {{game.start if game.start else "Не определенно"}}
                </p>
                <label class="label-bold">
                  Место проведения:
                </label>
                <p class="game-place info_value like_list">
                  {{game.place if game.place else "Не определенно"}}
                </p>
                <div class="buttons-menu">
                  <button class="button button_warning game-edit">
                    Редактировать
                  </button>
                  <button class="button button_danger game-delete">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="buttons-menu">
          <button class="button button_success game-add">
            Добавить игру
          </button>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='js/league_console.js')}}"></script>
  </main>
{% endblock main %}