{% extends 'base.html' %}
{% from 'models_macroses.html' import team_status, team_league, check_specified %}
{% from "form_macroses.html" import form_field %}

{% block title %}
    Профиль - {{ user.fullname }}
{% endblock title %}

{% block content %}

    <div class="box_container">
        <div class="box">
            <div class="shadow-box__title">
                Команды
            </div>
            {% for team in user.teams | sort(reverse=True, attribute="created_at") %}
                <div class="centered_block block_link" onclick="redirect(event);"
                     href="{{ team.link }}">
                    <h5 class="item_title">{{ team.name }}</h5>
                </div>
            {% endfor %}
        </div>
        <div class="box square-tiny">
            <div class="shadow-box__title">
                {{ user.fullname }}
            </div>
            <dl class="row info_in_box">
                <dd class="col-sm-3">Город:</dd>
                <dt class="col-sm-9">{{ check_specified(user.city) }}</dt>
                <dd class="col-sm-3">Возраст:</dd>
                <dt class="col-sm-9">{{ user.years_old }}</dt>
            </dl>
        {% if current_user.is_authenticated and current_user.id == user.id %}
            <div class="subscribe">
                <div class="subscribe__item">
                    <label for="subscribe-email-input">Уведомления по почте:</label>
                    {% if current_user.email_notifications %}
                        <input type="checkbox" id="subscribe-email-input" checked>
                    {% else %}
                        <input type="checkbox" id="subscribe-email-input">
                    {% endif %}
                </div>
                {% if current_user.integration_with_VK %}
                    <div class="subscribe__item" id="vk_notifications">
                        <label for="subscribe-vk-input">Уведомления ВК:</label>
                        {% if current_user.vk_notifications %}
                            <input type="checkbox" id="subscribe-vk-input" checked>
                        {% else %}
                            <input type="checkbox" id="subscribe-vk-input">
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% if  current_user.integration_with_VK %}
                {% include "vk/vk_disintegration.html" %}
                <div id="vk_integration"></div>
            {% else %}
                {% include "vk/vk_integration.html" %}
                <div id="vk_notification" class="hidden form__field-label" style="margin-top: 10px">
                </div>
            {% endif %}
            <div class="buttons-menu edit-user">
                <button type="button" class="btn btn-secondary btn-sm" id="edit-password"
                        data-toggle="modal" data-target="#edit-password-modal">
                    Сменить пароль
                   </button>
                   <button type="button" class="btn btn-secondary btn-sm" id="edit-email"
                        data-toggle="modal" data-target="#edit-email-modal">
                    Сменить почту
                </button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-password-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Смена пароля</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-password-form">
                        {{ edit_password_form.hidden_tag() }}
                        {{ form_field(edit_password_form.password) }}
                        {{ edit_password_form.password.label(for="password", class="form__field-label") }}
                        {{ edit_password_form.password(class="form__field-input",
                                                    autocomplete="off") }}
                        </div>
                        {{ form_field(edit_password_form.password_again) }}
                        {{ edit_password_form.password_again.label(for="password_again", class="form__field-label") }}
                        {{ edit_password_form.password_again(class="form__field-input",
                                                    autocomplete="off") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="close-password-modal">Закрыть
                    </button>
                    <input type="submit" class="btn btn-primary" form="edit-password-form"
                           value="Изменить" id="edit-password-submit">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-email-modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Смена почты</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="edit-email-form">
                        {{ edit_email_form.hidden_tag() }}
                        {{ form_field(edit_email_form.email) }}
                        {{ edit_email_form.email.label(for="email", class="form__field-label") }}
                        {{ edit_email_form.email(class="form__field-input",
                                                    autocomplete="off") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="close-email-modal">Закрыть
                    </button>
                    <input type="submit" class="btn btn-primary" form="edit-email-form"
                           value="Изменить" id="edit-email-submit">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <template id="error-input-template">
        <div class="s-error"></div>
    </template>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock content %}