{% extends 'sign__.html' %}
{% block title %} Регистрация - MatBoy {% endblock title %}
{% block title_layout %} Регистрация {% endblock title_layout %} 
{% block form %}

<form
    class="form form_register s-form validateble"
    id="register_form"
    method="post"
    data-remote="true"
>
{% include "vk/vk_reg.html" %}
<div id="vk_notification" class="hidden form__field-label" style="margin-top: 10px">
</div>
{{form.hidden_tag()}}
  <fieldset class="form__fields">
    {% from "form_macroses.html" import form_field, field_errors %}
    {{form_field(form.email)}}
      {{form.email.label(for="email_field", class="form__field-label")}}
      {{form.email(
        class="form__field-input",
        
        autofocus="",
        type="email",
        id="email_field"
      )}}
      {{field_errors(form.email)}}
    </div>
    <div id="email_notifications_div" class="form__field-label" style="margin-top: 10px">
      {{form.email_notifications}} {{form.email_notifications.label}}
    </div>
    {{form_field(form.surname)}}
      {{form.surname.label(for="surname_field", class="form__field-label")}}
      {{form.surname(
        type="text",
        
        class="form__field-input",
        id="surname_field"
      )}}
      {{field_errors(form.surname)}}
    </div>
    {{form_field(form.name)}}
      {{form.name.label(for="name_field", class="form__field-label")}}
      {{form.name(
        type="text",
        
        class="form__field-input",
        id="name_field"
      )}}
      {{field_errors(form.name)}}
    </div>
    {{form_field(form.patronymic)}}
      {{form.patronymic.label(for="patronymic_field", class="form__field-label")}}
      {{form.patronymic(
        type="text",
        
        class="form__field-input",
        id="patronymic_field",
      )}}
      {{field_errors(form.patronymic)}}
    </div>
    {{form_field(form.birthday)}}
      {{form.birthday.label(for="birthday_field", class="form__field-label")}}
      {{form.birthday(
        type="text",
        
        class="form__field-input datepicker-here",
        id="birthday_field",
        data_position="right top"
      )}}
      {{field_errors(form.birthday)}}
    </div>
    {{form_field(form.city)}}
      {{form.city.label(for="city_field",class="form__field-label")}}
      {{form.city(
        type="city",
        
        class="form__field-input",
        id="city_field" 
      )}}
      {{field_errors(form.city)}}
    </div>

    {{form_field(form.password)}}
      {{form.password.label(for="password_field", class="form__field-label")}}
      {{form.password(
        type="password",
        
        class="form__field-input",
        id="password_field",
        autocomplete="off"
      )}}
      {{field_errors(form.password)}}
    </div>
    {{form_field(form.password_again)}}
      {{form.password_again.label(for="password_repeat", class="form__field-label")}}
      {{form.password_again(
        type="password",
        
        class="form__field-input",
        id="password_repeat",
        autocomplete="off"
      )}}
      {{field_errors(form.password_again)}}
    </div>
      {{form_field(form.recaptcha)}}
      {{form.recaptcha.label(for="password_repeat", class="form__field-label")}}
      {{form.recaptcha(id="recaptcha")}}
      {{field_errors(form.recaptcha)}}
      </div>
    <div class="form__buttons s-buttons">
      {{form.submit(
        type="submit",
        id="registration_button",
        class="button button_wide button_primary"
      )}}
    </div>
  </fieldset>
</form>
{% endblock form %}

{% block link_to %}
Уже зарегестрированы?&nbsp;<a href="/login" class="form-additional-message__link">Войдите</a>
{% endblock link_to %}
