{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block main %}
  <div class="layout">
    <div class="layout__page layout__page_thin">
      <div class="shadow-box">
        <div class="shadow-box__title">
          {% block title_layout %}
            
          {% endblock title_layout %}
        </div>
        {% block form %}
    
        {% endblock form %}
      </div>
      <div class="shadow-box shadow-box_additionals">
        <span class="form-additional-message">
          Передумали?&nbsp;<a href="/" class="form-additional-message__link">На главную</a>
          <br>
          {% block link_to %}
          
          {% endblock link_to %}
        </span>
      </div>
      <div class="horizontal-spacer"></div>
    </div>
  </div>
{% endblock main %}
