{% extends 'base_form.html' %}

{% block head %}
  {{super()}}
  <script src="{{url_for('static', filename='js/team_request.js')}}"></script>
{% endblock head %}

{% block title %}
  {% if edit %}
    Изменение команды
  {% else %}
    Заявка - {{tour.title}}
  {% endif %}
{% endblock title %}

{% block form %}
  <form
    class="form form_team"
    method="post"
    autocomplete="off"
  >
    {{form.hidden_tag()}}
    <fieldset class="form__fields">
      {{form_field(form.name)}}
        {{form.name.label(for="title_field", class="form__field-label")}}
        {{form.name(
          type="text",
          class="form__field-input",
          autocomplete="off"
        )}}
        {{field_errors(form.name)}}
      </div>
      {{form_field(form.motto)}}
        {{form.motto.label(class="form__field-label")}}
        {{form.motto(
          class="form__field-input",
          autocomplete="off"
        )}}
        {{field_errors(form.motto)}}
      </div>
      
      <template id="user_email_field">
        <li class="form__field">
          <input autocomplete="off"
                 class="form__field-input" 
                 id="players-1" 
                 name="players-1" 
                 type="email" value="">
        </li>
      </template>
      <div>
        {{form.players.label(class="form__field-label")}}
        <ul class="form__field-list shadow_list" id={{form.players.id}}>
          {% for subfield in form.players %}
            {% if subfield.errors %}
              <li class="form__field s-with-error">
            {% else %}
              <li class="form__field">
            {% endif %}
            {{subfield(
              class="form__field-input",
              autocomplete="off",
              type="email"
            )}}
            {{field_errors(subfield)}}
            </li>
          {% endfor %}
        </ul>
      </div>
      <button onclick="addUserEmailField()" type="button">+</button>
      <button onclick="deleteUserEmailField()" type="button">-</button>
      {{message}}
      <div class="form__buttons s-buttons">
        {{form.submit(
          type="submit",
          id="registration_button",
          class="button button_wide button_primary"
        )}}
      </div>
    </fieldset>
  </form>
  
{% endblock form %}