{% extends 'tournament_editor.html' %}

{% block title %}
Заявка - {{tour.title}}
{% endblock title %}

{% block form %}
  <form
    class="form form_team"
    method="post"
    data-remote="true"
    autocomplete="offfff"
  >
    {{form.hidden_tag()}}
    <fieldset class="form__fields">
      {{form_field(form.name)}}
        {{form.name.label(for="title_field", class="form__field-label")}}
        {{form.name(
          type="text",
          class="form__field-input",
          autocomplete="offff"
        )}}
        {{field_errors(form.name)}}
      </div>
      {{form_field(form.motto)}}
        {{form.motto.label(class="form__field-label")}}
        {{form.motto(
          class="form__field-input",
          autocomplete="offfff"
        )}}
        {{field_errors(form.motto)}}
      </div>
      {{form_field(form.players)}}
        {{form.players.label(class="form__field-label")}}
        {{form.players(
          class="form__field-list",
          autocomplete="offfff"
        )}}
        {{field_errors(form.players)}}
      </div>
      {{message}}
      <div class="form__buttons s-buttons">
        {{form.submit(
          type="submit",
          id="registration_button",
          class="button button_wide button_primary"
        )}}
      </div>
    </fieldset>
  </form>
  
{% endblock form %}