{% extends 'base.html' %}
{% from 'models_macroses.html' import formated_date %}
{% block content %}

    <div class="title_container">
        <h1 class="page_title">
            {{ tour.title }}
        </h1>
        <div class="link_menu">
            <a class="link link-small"
               onclick="redirectWithStep(event)"
               href="{{ tour.link }}/team_request"
            >
                подать заявку
            </a>
            {% if current_user.id in (1, tour.chief_id,) %}
                |
                <a class="link link-small"
                   onclick="redirectWithStep(event)"
                   href="{{ tour.link }}/edit"
                >
                    редактировать
                </a>
                |
                <a class="link link-small" href='{{ tour.link }}/console'>
                    управлять
                </a>
                |
                <a class="link link-small"
                   onclick="redirectWithStep(event)"
                   href="{{ tour.link }}/create_post"
                >создать новость</a>
            {% endif %}
        </div>
    </div>
    <div class="page_description box">
        {{ tour.description }}
    </div>
    <div class="box_container box_container-covid">
        <div class="box box-large">
            <div class="shadow-box__title">
                Лиги
            </div>
            {% for league in tour.leagues | sort(reverse=True, attribute="created_at") %}
                <div class="centered_block block_link"
                     onclick="redirect(event)"
                     href="{{ league.link }}"
                >
                    <h2 class="item_title">{{ league.title }}</h2>
                    <div class="description">
                        {{ league.description }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="box square-tiny">
            <div class="shadow-box__title">
                Информация
            </div>
            <dl class="row info_in_box">
                <dd class="col-sm-6">Место проведения:</dd>
                <dt class="col-sm-6">{{ tour.place }}</dt>
                <dd class="col-sm-6">Дата начала:</dd>
                <dt class="col-sm-6">{{ formated_date(tour.start) }}</dt>
                <dd class="col-sm-6">Дата оканчания:</dd>
                <dt class="col-sm-6">{{ formated_date(tour.end) }}</dt>
            </dl>
        </div>
    </div>
    <div id="news_title" class="title_container">
        <h1 class="page_title">
            Новости турнира
        </h1>
        <div class="dropdown mt-2">
            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Открытые
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" type="button" id="visible-posts-btn" value="1">
                    Открытые
                </button>
                <button class="dropdown-item" type="button" id="not-visible-posts-btn" value="0">
                    Скрытые
                </button>
                <button class="dropdown-item" type="button" id="all-posts-btn" value="10">Все
                </button>
            </div>
        </div>
    </div>
    <div id="post_container" class="box_container"></div>
    <template id="visible-card-post">
        <div class="post_card box w-100">
            {% if current_user.id == tour.chief_id %}
                <div class="link_menu" align="right">
                    <a class="edit link link-small" onclick="">
                        редактировать
                    </a>
                    |
                    <a class="hide link link-small" onclick="">
                        скрыть
                    </a>
                </div>
            {% endif %}
            <h3 class="title"></h3>
            <div class="content ck-content clearfix"></div>
            <p class="datetime_info" align="right"></p>
        </div>
    </template>
    <template id="not-visible-card-post">
        <div class="post_card box w-100">
            {% if current_user.id == tour.chief_id %}
                <div class="link_menu" align="right">
                    <a class="edit link link-small" onclick="">
                        редактировать
                    </a>
                    |
                    <a class="hide link link-small" onclick="">
                        отобразить
                    </a>
                    |
                    <a class="hide link link-small">
                        удалить
                    </a>
                </div>
            {% endif %}
            <h3 class="title"></h3>
            <div class="content ck-content clearfix"></div>
            <p class="datetime_info" align="right"></p>
        </div>
    </template>
    <template id="empty_posts">
        <div class="page_description box post_card">
            Новостей пока нет
        </div>
    </template>
    <script src="{{ url_for('static', filename='js/tournament.js') }}"></script>

{% endblock content %}