{% extends 'base.html' %}

{% block title %}
  Console - {{tour.title}}
{% endblock title %}

{% block main %}
  <div class="hidden" id="tour-id">{{tour.id}}</div>
  <main class="container-xl" role="main">
    <div class="title_container">
      <h3 class="page_title">
        {{tour.title}}
      </h3>
      <a class="link link-small"
         onclick="redirectWithStep(event);" 
         href="{{tour.link}}/edit"
      >
        редактировать
      </a>
    </div>
    <div class="box_container box_container-covid">
      <div class="box box-middle">
        <label class="box-label">
          Команды
        </label>
        <template id="league_option_template">
          <option class="league_in"
                  value="">
          </option>
        </template>
        {% for team in tour.teams if team.status %}
          {% if team.status == 2 %}
          <div class="box_item team border-success" id="team-{{team.id}}">
            <span class="status team-status">
            Участвует в турнире
            </span>
          {% else %}
          <div class="box_item team border-warning" id="team-{{team.id}}">
            <span class="status team-status">
              Ожидает подтверждения
            </span>
          {% endif %}
            <label class="box_item-title team-title nested-toggler" for="team_info-{{team.id}}">
              {{team.name}}
            </label>
            <div class="info_bar team-info hidden" id="team_info-{{team.id}}">
              <label class="label-bold">
                Девиз:
              </label>
              <i class="team-motto like_list">{{team.motto}}</i>
              <label class="label-bold">
                Заявку отправил:
              </label>
              <a class="team-sender link link-shadow like_list" href="{{team.trainer.link}}">
                {{team.trainer}}
              </a>
              <label class="label-bold">
                Почта:
              </label>
              <a class="team-mail link link-mail like_list" href="mailto:{{team.trainer.email}}">
                {{team.trainer.email}}
              </a>
              <label class="label-bold">
                Участники:
              </label>
              <ul class="team-players shadow_list">
                {% for player in team.players %}
                  <li>
                    <a class="link link-shadow team-player" href="{{player.link}}">
                      {{player}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <label class="label-bold">
                Лига:
              </label>
              {% if team.status == 2 %}
                <div class="team-league_title league_in like_list"
                     value="{{team.league.id}}">
                  {{team.league.title}}
                </div>
              {% else %}
                <div class="team-league_title like_list league_in hidden" 
                     value="{{team.league.id}}">
                  {{team.league.title}}
                </div>
              {% endif %}
              <select class="selector league_selector {{'hidden' if team.status == 2 else ''}}" 
                      id="team_league-{{team.id}}">
                {% for league in tour.leagues %}
                  {% if team.league_id == league.id %}
                    <option class="league_in"
                            value="{{league.id}}"
                            selected>
                      {{league.title}}
                    </option>
                  {% else %}
                    <option class="league_in"
                            value="{{league.id}}">
                      {{league.title}}
                    </option>
                  {% endif %}
                {% endfor %}
                {% if team.league_id %}
                  <option class="league_in" value="0">
                    Не выбрано
                  </option>
                {% else %}
                  <option class="league_in" value="0" selected>
                    Не выбрано
                  </option>
                {% endif %}
              </select>
              <div class="buttons-menu">
                {% if team.status == 2%}
                  <button class="button button_warning team-button team-decline"
                          for="team-{{team.id}}">
                    Отклонить
                  </button>
                  <button class="button button_success team-button team-accept hidden"
                          for="team-{{team.id}}">
                    Принять
                  </button>
                  <button class="button button_danger team-button team-delete hidden" 
                          for="team-{{team.id}}">
                    Удалить
                  </button>
                {% else %}
                  <button class="button button_warning team-button team-decline hidden"
                          for="team-{{team.id}}">
                    Отклонить
                  </button>
                  <button class="button button_success team-button team-accept"
                          for="team-{{team.id}}">
                    Принять
                  </button>
                  <button class="button button_danger team-button team-delete" 
                          for="team-{{team.id}}">
                    Удалить
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="box box-middle">
        <div id="leagues">
          <label class="box-label">
            Лиги
          </label>

          <template id="league_template">
            <div class="box_item league" id="league-">
              <div class="link_menu">
                <a class="link link-small league-manage" href='{{tour.link}}/league/{{"{0}"}}/console'>
                  управлять
                </a>
                |
                <a class="link link-small league-goto" href='{{tour.link}}/league/{{"{0}"}}'>
                  перейти на страницу
                </a>
              </div>
              <label class="box_item-title league-title nested-toggler" for="league_info-">
              </label>
              <div class="info_bar league-info" id="league_info-">
                <label class="label-bold">
                  Описание:
                </label>
                <i class="league-description like_list">
                </i>
                <label class="label-bold">
                  Главный по лиге:
                </label>
                <a class="league-chief link link-shadow chief like_list"
                    href='/profile/{{"{0}"}}'
                    title="">
                </a>
                <label class="label-bold league-label_teams" for="league_teams-">
                  Команды:
                </label>
                <ul class="league-teams shadow_list" id="league_teams-">
                </ul>
                <div class="buttons-menu">
                  <button class="button button_warning league-edit" 
                          for="league-">
                    Редактировать
                  </button>
                  <button class="button button_danger league-delete"
                          for="league-">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          </template>
          <template id="league_team_template">
            <li id="league_team-">
              <a class="link" href='{{tour.link}}/team/{{"{0}"}}'>
                Безымянная команда
              </a>
            </li>
          </template>
          <template id="league_form_template">
            <form class="box_item league league_form"
                  id="league_form-"
                  accept-charset="utf-8">
              <label class="label-bold">Название: *</label>
              <input class="input-wide box_item-title league-title editor-title" 
                    type="text"
                    name="title"
                    required
              />
              <label class="label-bold">Описание:</label>
              <textarea class="input-wide textarea editor-textarea" name="description"></textarea>
              <label class="label-bold">Главный по лиге: *</label>
              <input class="input-wide editor-email" name="chief_email" type="email" required/>
              <div class="buttons-menu">
                <button class="button button_success" type="submit" name="submit">
                  Сохранить
                </button>
                <button class="button button_danger" type="reset" name="reset">
                  Отменить
                </button>
              </div>
            </form>
          </template>

          {% for league in tour.leagues %}
            <div class="box_item league" id="league-{{league.id}}">
              <label class="box_item-title league-title nested-toggler" for="league_info-{{league.id}}">
                {{league.title}}
              </label>
              <div class="link_menu">
                <a class="link link-small league-manage" href='{{league.link}}/console'>
                  управлять
                </a>
                |
                <a class="link link-small league-goto" href='{{league.link}}'>
                  перейти на страницу
                </a>
              </div>
              <div class="info_bar league-info hidden" id="league_info-{{league.id}}">
                <label class="label-bold">
                  Описание:
                </label>
                <i class="league-description like_list">
                  {{league.description}}
                </i>
                <label class="label-bold">
                  Главный по лиге:
                </label>
                <a class="league-chief link link-shadow chief like_list"
                    href="{{league.chief.link}}" 
                    title="{{league.chief.email}}">
                  {{league.chief}}
                </a>
                <label class="label-bold nested-toggler" for="league_teams-{{league.id}}">
                  Команды:
                </label>
                <ul class="league-teams shadow_list" id="league_teams-{{league.id}}">
                  {% for team in league.teams if team.status == 2 %}
                    <li id="league_team-{{team.id}}">
                      <a class="link" href="{{team.link}}">
                        {{team.name}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                <div class="buttons-menu">
                  <button class="button button_warning league-edit" 
                          for="league-{{league.id}}"
                  >
                    Редактировать
                  </button>
                  <button class="button button_danger league-delete"
                          for="league-{{league.id}}">
                    Удалить
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="buttons-menu">
          <button class="button button_success league-add">
            Добавить лигу
          </button>
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='js/tournament_console.js')}}"></script>
  </main>
{% endblock main %}