@import "styles/block";

$font-stack: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
$primary-color: #333;
$background-color: #f4f4f4;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background: url("./img/popcat.gif") repeat;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  background-color: $background_color;
  min-height: 100vh;
  min-width: 100vw;
}
