
.shadow_box {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 0 auto 16px;
  padding: 40px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
  .shadow_box {
    padding: 20px;
    box-sizing: border-box;
  }
}

.shadow_box-additions {
  margin-top: 16px;
  padding: 15px 0;
  text-align: center;
}
